html {
    
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 60%;
    position: relative;
    padding: 10% 20%;
}

.box {
    height: 45%;
    width: 10%;
    margin: 30px;
    position: absolute;
    border-radius: 20px;
}

#yellow {
    background-color: yellow;
    right: 65%;
}

#green {
    background-color: green;
    right: 50%;
}

#blue {
    background-color: blue;
    right: 35%;
}

#cyan {
    background-color: cyan;
    right: 20%;
}